{% extends "base.html" %}

{% load static %}

{% block navigation%}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'item' %}">Show Item</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'about' %}">About us</a>
  </li>
</ul>
{% endblock %}



{% block about_html %}
<div class=" p-5 align-content-center">
    <div class="text-md-center text-bg-warning p-5 ">
        <h1>WELCOME TO THE LEAF LOUNG RESTURENT </h1>
    </div>
    <div> 
        
    </div>
    
    <img class="w-100 " src="{% static 'rest_pic.jpg' %}" alt="" />
  
</div>

{% endblock  %}

 

 




