{% extends "base.html" %}
{% block content %}
    <h1 class="text-center mt-3">Borrowing Book History</h1>

    <div style="width: 80%; margin: auto;" class="mt-5 ">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Book Photo</th>
                <th scope="col">Return Book</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td> <a href="" class="btn btn-success text-center">Return</a></td>
              </tr>
              
            </tbody>
          </table>
    </div>

{% endblock  %}