{% extends "base.html" %}

{% load static %}

{% block content %}

 <div class="d-flex text-center p-5 align-content-center  " <a href="{% url 'home' %}">
  <div class="p-5"> 
    <div class="p-5"> 
      <p  > One bite into this small mountain of crispy duck skin, juicy meat, radish, cucumber, scallion and sweet bean sauce wrapped neatly in a thin pancake, and you’ll understand why Peking duck has been captivating stomachs – including those of ancient Chinese emperors – for centuries.</p>
    </div>
  </div>
  <img class="w-50  " src="{% static 'food_img.jpg' %}" alt="" />
</a>>
</div>

 

{% endblock %}


